@media only screen and (max-width: 640px) {

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        z-index: 0;
        background-color: #3730a3;
        width: 100%;
        top: -320px;
        z-index: -9999;
    }

    .active {
        padding-top: 20px;
        top: 70px;
    }

    .ul {
        flex-direction: column;
        width: 100%;
    }

}

.nav {
    height: 80px;
}

.ul {
    width: 255px;
}